.div-1{
    display: flex;
    justify-content: flex-start;
}
.imgDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
li{
    font-size: 25px;
}
.btn{
    width: 125px;
    height: 125px;
    border-radius: 12px;
}
.imgs{
    width: 115px;
    height: 115px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5753cf, #eaeae5);
}
.header1{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #dda1eb, #dfdfde);
}

